body 
{
    margin: 0;
    padding: 0;
}

.head
{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #13276A;
    display: flex;
    align-items: center;
}

.foot
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #13276A; 
}

.logo
{
    text-decoration: none;
    color: gold;
    font-size: 50px;
    margin-left: 30px;
}

.navBar
{
    display: flex;
    align-items: center;
    margin-left: 950px;
}

.navElement
{
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainDiv
{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    height: auto;
}

.product
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #13276A;
    border-radius: 10px;
    margin-bottom: 50px;
}

.image
{
    width: auto;
    max-height: 300px;
    background-color: black;
}

.name
{
    margin-top: 10px;
    width: auto;
    height: auto;
    text-align: center;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.description
{
    margin-top: 10px;
    width: auto;
    height: auto;
    text-align: center;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.price
{
    margin-top: 10px;
    margin-right: 25px;
    width: auto;
    height: auto;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.add
{
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 5px;
    min-width: none;
    min-height: auto;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

.verticalContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontalContainer
{
    display: flex;
    justify-content: space-evenly;
}

.formDiv
{
    border: 2px solid #13276A;
    padding: 10px;
    border-radius: 10px;
    background-color: #13276A;
}

.formGroup
{
    display: block;
    margin-bottom: 20px;
}

label
{
    display: block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.inputReg
{
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
    border: none;
}

.inputLog
{
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
    border: none;
    width: 100%;
}

.regSpan
{   
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: red;
}

.loginBtn
{
    border-radius: 10px;
    border: none;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 184, 217);
    color: white;
}

.submitBtn
{
    border-radius: 10px;
    border: none;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 184, 217);
    margin-left: 75px;
    color: white;
}

.modal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  
.modalContent 
{
    background-color: white;
    margin: 15% auto;
    padding: 10px;
    width: 20%;
    text-align: center;
    position: relative;
    border-radius: 10px;
}
  
.close 
{
    color: red;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.modalP
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#okButton 
{
    background-color: #13276A;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.userDiv
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #13276A;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 10%;
    padding: 10px;
    background-color: #13276A;
    color: white;
}

.userSpan
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50px;
    margin-bottom: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.userFieldDiv
{
    font-family: Arial, Helvetica, sans-serif;
    width: max-content;
    margin-left: 10px;

}

.userProfile
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin-bottom: 20px;
}

.userProfileConteiner
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logSpan
{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.mainDiv2
{
    display: block;
    margin-top: 75px;
    padding-bottom: 50px;
}

.product2
{   opacity: 0.5;
    background-color: rgba(198, 198, 198);
    width: 300px;
    border: 2px solid #13276A;
    border-radius: 10px;
}

.image2
{
    height: 80px;
    margin-top: 5px;
}

.name2
{   
    font-size: 10px;
    margin-top: 5px;
    width: auto;
    height: auto;
    text-align: center;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.description2
{   
    font-size: 10px;
    margin-top: 5px;
    width: auto;
    height: auto;
    text-align: center;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.price2
{
    font-size: 10px;
    margin-top: 5px;
    width: auto;
    height: auto;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
  
.cartItem
{
    margin-top: 10px;
    display: flex;
    margin-left: 25%;
}

.productFunc
{
    display: flex;
    align-items: center;
    padding: 30px;
    width: auto;
    height: auto;
}

.checkbox
{
    width: 30px;
    height: 30px;
}

.removeBtn
{
    width: 40px;
    height: 40px;
    border: 2px solid #13276A;
    border-radius: 6px;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
    color: red;
}

.addBtn
{
    width: 40px;
    height: 40px;
    border: 2px solid #13276A;
    border-radius: 6px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: green;
}

.quantity
{
    font-size: 28px;
    color: black;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.cartFunc
{
    z-index: 1;
    position: fixed;
    right: 200px;
    background-color: #13276A;
    border: 2px solid #13276A;
    border-radius: 6px;
    height: auto;
    width: auto;
    padding: 20px;
}

.cartFuncPrice
{   
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
}

.btnsDiv
{
    margin-top: 10px;
    width: auto;
}

.cartFuncBtn
{
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(0, 184, 217);
    color: white;
}

.selectAllBtn
{
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(0, 184, 217);
    color: white;
}

.buyDiv
{   
    margin-top: 30px;
    width: auto;
}

.buyBtn
{
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color:green;
    color: white;
}

.messageDiv
{
    margin-top: 20%;
    margin-left: 30%;
    width: 635px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    align-items: center;
}

.btnDiv
{
    margin-top: 10px;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.gotToProductsBtn
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 184, 217);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: auto;
    font-size: 24px;
}